input[type="checkbox"] {
    display: none;
}

.masthead__container {
    max-width: 1110px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 48px;
}

.masthead__menu {
    display: none;
}

.masthead__navigation_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.masthead__link {
    color: hsl(228, 39%, 23%);
    font-weight: 700;
}

.masthead__link:focus,
.masthead__link:hover {
    color: hsl(227, 12%, 61%);
}

.masthead__list_item:not(:nth-child(1)) {
    margin-inline-start: 16px;
}

.masthead__bttn_container {
    margin-block-start: 8px;
}

.masthead__bttn {
    padding-block: 12px;
    padding-inline: 32px;
    border-radius: 24px;
    border: none;
    color: white;
    background-color: hsl(12, 88%, 59%);
}

.masthead__bttn:hover {
    box-shadow: 3px 3px 7px hsl(12, 88%, 59%);
}

.close-button {
    display: none;
}