@font-face {
  font-family: "Be Vietnam Bold";
  src: url("../fonts/BeVietnam-Bold.woff2") format("woff2"), url("../fonts/BeVietnam-Bold.woff") format("woff");
  font-weight: 700; }

@font-face {
  font-family: "Be Vietnam Medium";
  src: url("../fonts/BeVietnam-Medium.woff2") format("woff2"), url("../fonts/BeVietnam-Medium.woff") format("woff");
  font-weight: 500; }

@font-face {
  font-family: "Be Vietnam Regular";
  src: url("../fonts/BeVietnam-Regular.woff2") format("woff2"), url("../fonts/BeVietnam-Regular.woff") format("woff");
  font-weight: 400; }

body {
  margin: 0;
  font-family: "Be Vietnam Regular";
  background-image: url("../images/svg/bg-simplify-section-desktop.svg");
  background-repeat: no-repeat; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Be Vietnam Bold";
  color: #242d52;
  font-weight: 700; }

ul {
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  width: 100%; }

button {
  cursor: pointer; }

input[type="checkbox"],
.masthead__menu {
  display: none; }

.masthead__container {
  max-width: 1110px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 48px; }

.masthead__navigation_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.masthead__link {
  color: #242d52;
  font-weight: 700; }

.masthead__list_item:not(:nth-child(1)) {
  margin-inline-start: 16px; }

.masthead__bttn_container {
  margin-block-start: 8px; }

.masthead__bttn {
  padding-block: 12px;
  padding-inline: 24px;
  border-radius: 24px;
  border: none;
  color: white;
  background-color: #f25f3a; }
