@font-face {
  font-family: "Be Vietnam Bold";
  src: url("../fonts/BeVietnam-Bold.woff2") format("woff2"), url("../fonts/BeVietnam-Bold.woff") format("woff");
  font-weight: 700; }

@font-face {
  font-family: "Be Vietnam Medium";
  src: url("../fonts/BeVietnam-Medium.woff2") format("woff2"), url("../fonts/BeVietnam-Medium.woff") format("woff");
  font-weight: 500; }

@font-face {
  font-family: "Be Vietnam Regular";
  src: url("../fonts/BeVietnam-Regular.woff2") format("woff2"), url("../fonts/BeVietnam-Regular.woff") format("woff");
  font-weight: 400; }

body {
  margin: 0;
  font-family: "Be Vietnam Regular";
  background-image: url("../images/svg/bg-simplify-section-desktop.svg");
  background-repeat: no-repeat;
  color: #9095a7;
  font-size: 18px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Be Vietnam Bold";
  color: #242d52;
  font-weight: 700; }

ul {
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  width: 100%; }

button {
  cursor: pointer; }

@media (min-width: 600px) {
  body {
    background-image: url("../images/svg/bg-simplify-section-mobile.svg");
    background-repeat: no-repeat; } }

input[type="checkbox"],
.masthead__menu {
  display: none; }

.masthead__container {
  max-width: 1110px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 48px; }

.masthead__navigation_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.masthead__link {
  color: #242d52;
  font-weight: 700; }

.masthead__list_item:not(:nth-child(1)) {
  margin-inline-start: 16px; }

.masthead__bttn_container {
  margin-block-start: 8px; }

.masthead__bttn {
  padding-block: 12px;
  padding-inline: 32px;
  border-radius: 24px;
  border: none;
  color: white;
  background-color: #f25f3a; }

@media (max-width: 600px) {
  .masthead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0; }
  .masthead__container {
    margin-inline-start: 0;
    margin-inline-end: 0;
    display: block;
    padding-block: 0;
    margin: 16px; }
  input[type="checkbox"] {
    display: none; }
  .masthead__menu {
    display: block;
    margin-block-start: 24px; }
  .masthead__label_menu {
    cursor: pointer;
    color: transparent;
    margin-inline-end: -48px; }
  .masthead__label_menu::before {
    content: url("../icons/icon-hamburger.svg"); }
  .masthead__navigation_container {
    display: block; }
  .masthead__navigation {
    margin-block-start: 64px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -343px;
    height: 40%;
    width: 343px;
    z-index: 1;
    display: flex;
    flex-direction: column; }
  .masthead__list_item {
    margin-block-start: 16px; }
  .masthead__list_item:not(:nth-child(1)) {
    margin-inline-start: 0; }
  input[type="checkbox"]:checked ~ .masthead__navigation {
    position: absolute;
    top: 8px;
    bottom: 0;
    left: 0;
    width: 343px;
    z-index: 1;
    background-color: white;
    text-align: center;
    transform: translateX(0);
    margin-inline-start: 24px;
    border-radius: 5px; }
  .masthead__bttn {
    display: none; } }

.better_products {
  max-width: 1110px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  column-gap: 20px;
  padding-block: 32px; }

.better_products__header {
  font-size: 56px;
  line-height: 1.2; }

.better_products__button {
  margin-block-start: 24px;
  padding-block: 12px;
  padding-inline: 32px;
  border-radius: 24px;
  border: none;
  color: white;
  background-color: #f25f3a; }

@media (max-width: 600px) {
  .better_products {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin: 16px; } }

.manage {
  max-width: 1110px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.manage__header {
  font-size: 36px; }

.manage__title_container {
  display: flex;
  flex-direction: row; }

.manage__number {
  margin-block-start: 16px;
  height: 40px;
  padding-inline: 24px;
  border-radius: 24px;
  color: white;
  background-color: #f25f3a;
  border: none;
  font-size: 16px; }

.manage__title {
  margin-inline-start: 32px; }

.manage__description {
  margin-inline-start: 96px; }

@media (max-width: 600px) {
  .manage {
    display: flex;
    flex-direction: column; }
  .manage__heading {
    padding: 32px;
    text-align: center; }
  .manage__list_item {
    padding-block-end: 48px; }
  .manage__title_container {
    background-color: pink; }
  .manage__title {
    margin-block: 0; }
  .manage__number {
    margin-block-start: 0; }
  .manage__description {
    margin-inline-start: 0; } }

.avatar {
  padding-block: 64px; }

.avatar__heading {
  text-align: center; }

.avatar__header {
  font-size: 36px;
  padding-block-end: 48px; }

.avatar__navigation_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  column-gap: 20px;
  padding: 16px; }

.avatar__list_item {
  background-color: #fafafa; }

.avatar__owner_container {
  display: flex;
  flex-direction: column-reverse;
  text-align: center; }

.avatar__image {
  width: 20%;
  margin-block-start: -8%;
  margin-inline-start: 40%; }

.avatar__owner_name {
  margin-block-start: 8%; }

.avatar__description {
  text-align: center;
  margin: 0; }

.avatar__button_container {
  text-align: center; }

.avatar__started_button {
  margin-block-start: 24px;
  padding-block: 12px;
  padding-inline: 32px;
  border-radius: 24px;
  border: none;
  color: white;
  background-color: #f25f3a; }

.team_work {
  padding-block: 64px;
  background-color: #f25f3a;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.team_work > * {
  max-width: 1110px;
  margin-inline-start: auto;
  margin-inline-end: auto; }

.team_work__header {
  color: white;
  font-size: 36px; }

.team_work__button {
  margin-block-start: 40px;
  padding-block: 12px;
  padding-inline: 32px;
  border-radius: 24px;
  border: none;
  color: #f25f3a;
  background-color: white; }

.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 48px; }

.footer > * {
  max-width: 1110px;
  margin-inline-start: auto;
  margin-inline-end: auto; }

.footer__social_media_container {
  margin-inline-start: 11%; }

.footer__social_media_navigation_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block-start: 100px; }

.footer__link_navigation_container {
  margin-block-start: -16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  column-gap: 20px; }

.footer__link_list_item {
  margin-block-start: 16px; }

.footer__link {
  color: #9095a7;
  font-weight: 500;
  font-size: 16px; }

.footer__submitform {
  margin-inline-end: 11%; }

.footer__input {
  padding-block: 12px;
  padding-inline: 24px;
  border-radius: 24px;
  border: none; }

.footer__submit_button {
  padding-block: 12px;
  padding-inline: 24px;
  border: none;
  border-radius: 24px;
  color: white;
  background-color: #f25f3a; }
